
body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 	
}

.destination-title {
	padding-left: 6rem;
}

h1 {
	color: #ffffff;
	font-size: 6rem;
}


h2 {
	color: #335576;
	display: contents;
	width: fit-content;
}

.cards-activities-list {
	list-style-type: none;
	padding-left: 0px;
	padding-bottom: 3rem;

}

.cards-container {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0 -5px;
	display: flex;
    	justify-content: center;
}

.cards-container::after {
	content: "";
	display: table;
	clear: both;
}

.cards-column {
	display: flex;
  	width: 25rem;
  	padding: 0 30px;
  	
}

.cards {
	text-align: center;
	justify-content: center;
	border-radius: 5px 5px 5px 5px;
	background-color: #ffffff;
  	padding: 16px;
	width: 250px;
	height: 400px;
}

.activities-list {
	background-color: #FEFAF5;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cards-title {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.divider-line {
	margin-top: 0px;
}


.nav-list .nav-list__item:hover {
	border-bottom: 3px solid green;
	border-color: orange;
}

 article {
	padding-bottom: 10rem;
		 
}